@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

@media (min-width: 768px) {
  .navbar-header {
    float: right;
  }
}

.navbar-brand {
  float:right;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
  margin-right: 0;
}
.logo {
	font-family: Pacifico;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 26.4px;
	color:white;
}

.navbar{
	margin-bottom:0;
}

body {
  background-color: black;
  color: white;
  font-family: 'Fjalla One', sans-serif;
}

.content {
  padding:20px;
  padding-top: 0px;
}

.content li {
  padding-bottom:30px;
}

#searchBar {
/*  visibility:none;*/
  height:10px;
  width: 125px;
}
#breakfast, #lunch, #dinner {
	position: relative;
	text-align:center;
	color:white;
	padding: 0;
}

#breakfast img, #lunch img, #dinner img{
	filter: brightness(50%);
	width: 100%;
	height: auto;
}

#breakfastText, #lunchText, #dinnerText {
/*	  font-family: 'Fjalla One', sans-serif;*/
    position: absolute;
    top: 50%;
    left: 50%;
	  transform:translate(-50%, -50%);
}


a:link{
	color: white;
}

.typeahead { 
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding: 8px 12px;
  width: 300px;
  font-size:1.5em;
}

.tt-menu { 
  width:300px; 
}

span.twitter-typeahead .tt-suggestion {
  padding: 10px 20px;	
  border-bottom:#CCC 1px solid;
  cursor:pointer;
}

span.twitter-typeahead .tt-suggestion:last-child { 
  border-bottom:0px; 
}

.bgColor {
  max-width: 440px;
  height: 200px;
  background-color: #c3e8cb;
  padding: 40px 70px;
  border-radius:4px;
  margin:20px auto;
}

#recipeTable div {
	position: relative;
	text-align:center;
	color:white;
	padding: 0;
}

.text {
	position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
}

.images img{
	filter: brightness(50%);
	width: 100%;
	height: auto;
}
#searchTest{
  width:500px;
  height:500px;
}

#searchCuisine, #searchType, #searchDiet{
    color: black;
}

